<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="/assets/img/login.png" alt="" />
    <h3>Login</h3>
    <form (ngSubmit)="login()" [formGroup]="loginUser">
      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
      </div>
      <p class="mt-3">
        You do not have an account? <a routerLink="/register">Register</a>
      </p>
      <a routerLink="/recover">Recover Password</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
