<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="/assets/img/login.png" alt="">
        <h3>Register</h3>
        <form (ngSubmit)="register()" [formGroup]="registerUser">
            <div class="">
                <input type="email" class="form-control" formControlName="email" placeholder="Email address">
            </div>
            <div class="my-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <div class="">
                <input type="password" class="form-control" formControlName="repeatPassword" placeholder="Repeat Password">
            </div>
            <div class="d-grid gap-2 my-3">
                <button class="btn btn-primary btn-lg" type="submit">Enter</button>
            </div>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>